//------------------------------
// *****************************
// Example
// *****************************
//------------------------------

.view-example {
  @include center-both;

  background: $color-gray-light;
  width: 100%;
  height: 100%;
}
