//------------------------------
// *****************************
// Options
// *****************************
//------------------------------

// Susy Configuration
$susy: (
  container: auto,
  columns: 24,
  gutters: 20px/40px
);
