//------------------------------
// *****************************
// Variables
// *****************************
//------------------------------

// Font List Variables
$font-lato: "Lato", sans-serif;

// Base Settings
$base-font-size: 16px;
$base-transition-time: 0.2s;

// Transitions
$transition-modal: 0.3s;

// Paths
$path-font: "/fonts/";
$path-image: "/images/";

// General Colors
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #ECEFF1;
$color-gray-light: #F3F5F6;
