//------------------------------
// *****************************
// Rules
// *****************************
//------------------------------

@include normalize;

::-moz-selection {
  color: $color-white;
  background-color: $color-gray-light;
}

::selection {
  color: $color-white;
  background-color: $color-gray-light;
}

html, body {
  font-family: $font-lato;
  font-size: $base-font-size;
  font-weight: normal;
  min-height: 100%;
  height: 100%;
  line-height: 1;
  background: $color-gray;
  box-sizing: border-box;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
  outline: 0;
  box-sizing: inherit;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    outline: 0;
  }

  &:before,
  &:after {
    box-sizing: inherit;
  }
}
